<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZatchUp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C8EFABF5334B519D733158DA4E5EB62635C64854</string>
				<key>dateExpires</key>
				<string>18/05/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4W5579FMS6.com.zatchup.user</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4W5579FMS6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ZatchUp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b0afb531-58cd-4805-9ca0-79460bab1f03</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.zatchup.user</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4W5579FMS6</string>
				<key>name</key>
				<string>iTechFlock Software Private Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
